@model BuddyHub.Models.VM.ProfileData

@{
    ViewBag.Title = @Model.Name;
}


<div class="row mt-1">
    <div class="col-3 p-1 ">
        <div class="dashboard-nav shadow rounded-3">
            <nav class="dashboard-nav-list">
                <a href="/Profile/@Model.Username" class="dashboard-nav-item active"><i class="fa fa-address-card"></i> Basic Info </a>
                <a href="/Profile/WorkProfile/@Model.Username" class="dashboard-nav-item"><i class="fa fa-briefcase"></i> Works Profile </a>
                <a href="/Profile/SocialProfile/@Model.Username" class="dashboard-nav-item"><i class="fa fa-twitch"></i> Social Links </a>
                <a href="/Profile/Posts/@Model.Username" class="dashboard-nav-item"><i class="fa fa-file-archive-o"></i> My Posts </a>
                
            </nav>
        </div>
    </div>
    <div class="col-9 p-1">
        <div class="row shadow p-3 mx-1 rounded-3">
            <div class="col-12 d-flex justify-content-center">
                <img class="rounded-circle border border-2 border-secondary shadow" src="@Url.Content("~/Content/Images/img_avatar.png")" style="height:100px;width:100px" />
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center my-1">
                <h5 class="d-inline-block">@@@Model.Username</h5>
                <h6 class="d-inline-block">
                    (@if (Model.Status == 1)
                    {@Html.Raw("Active")}
                else
                {@Html.Raw("Disabled")})
                </h6>
            </div>
            <div class="col-3 d-flex justify-content-center my-1">
                
            </div>
            <div class="col-6 d-flex justify-content-center my-1">
                <div class="row shadow-sm rounded-3 d-flex justify-content-center">
                    <div class="col-3 d-flex flex-column align-items-center me-3">
                        <h6 class="my-0">Posts</h6>
                        <h6 class="">@Model.Posts.Count</h6>
                    </div>
                    <div class="col-3 d-flex flex-column align-items-center ms-3">
                        <h6 class="my-0">Followers</h6>
                        <h6 class="">@Model.Followers.Count</h6>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center my-1">
                @if ((string)Session["Username"] == Model.Username.Replace(" ", ""))
                {
                    <a class="btn btn-outline-primary" href="/Profile/Edit/@Model.Username">Edit Profile</a>
                }
                else
                {
                    <a class="btn btn-outline-primary" href="/Follower/DoFollow/@Model.FK_Users_Id">Follow/Unfollow</a>

                }
            </div>
            <div class="col-12 my-2">
                <div class="row">
                    <div class="my-2 col-6 d-flex justify-content-start align-items-center">
                        <span class="profile">Full Name : </span>
                        <span class="profile1">@Model.Name</span>
                    </div>
                    <div class="my-2 col-6 d-flex justify-content-start align-items-center">
                        <span class="profile">Date of Birth : </span>
                        <span class="profile1">@Model.DOB.ToString("dd MMM yyyy")</span>
                    </div>
                    <div class="my-2 col-6 d-flex justify-content-start align-items-center">
                        <span class="profile">Contact :</span>
                        <span class="profile1">@Model.Contact</span>
                    </div>
                    <div class="my-2 col-6 d-flex justify-content-start align-items-center">
                        <span class="profile">Gender :</span>
                        <span class="profile1">@Model.Gender</span>
                    </div>
                    <div class="my-2 col-6 d-flex justify-content-start align-items-center">
                        <span class="profile">Email :</span>
                        <span class="profile1">@Model.Email</span>
                    </div>
                    <div class="my-2 col-6 d-flex justify-content-start align-items-center">
                        <span class="profile">Religion :</span>
                        <span class="profile1">@Model.Religion</span>
                    </div>
                    <div class="my-2 col-6 d-flex justify-content-start align-items-center">
                        <span class="profile">Address :</span>
                        <span class="profile1">@Model.Address</span>
                    </div>
                    <div class="my-2 col-6 d-flex justify-content-start align-items-center">
                        <span class="profile">Relationship :</span>
                        <span class="profile1">@Model.Relationship</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

